@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.container{
    height: 100vh;
    width: 100vw;
    background-color: #dac8e8;
    display: flex;
    flex-direction: column;
    justify-content : flex-start;
    align-items: center;
}
.headingContainer{
    height: 10vh;
    width: 100vw;
    background-color: #3e2054;
    color: white;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
    font-size: 23px;
    font-family: "Roboto";
}
.addButtonStyle{
    height: 40px;
    width: 80px;
    margin-left : 50px;
    background-color: #3e2054;
    color: white;
    font-family: "Roboto";
    font-size: 16px;
    border : none;
    border-radius: 5px;

}
.addContainer{
    height: 10vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
}
input{
    height: 30px;
    width: 30vw;
    margin-right: 10px;
}

.eachStudentContainer{
    height: 70px;
    width: 700px;
    background-color: aliceblue;
    border : none;
    border-radius: 10px;
    margin : 2px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;
}

.editInputStyle{
    height: 30px;
    width: 200px;
}

p{
    width: 200px;
}
